In [ ]:
#pip install  google-cloud-bigquery
#pip install --upgrade google-cloud-bigquery
#pip install  pandas_gbq
#pip install  pandas

In [1]:
# Bibliotecas para Conexão do Python Com Big Query
import pandas as pd
from google.cloud import bigquery

In [ ]:
#Teste de Conexão

#OBSIMP. a chave (teste-big-query-425313-282b8bc713a3.json) foi criada dentro do Big Query e baixado em JASON no pc (Download)

# Especifique o caminho para o arquivo JSON de credenciais
credencial = r"C:\Users\10\Downloads\teste-big-query-425313.json"

# Crie um cliente BigQuery usando as credenciais
client = bigquery.Client.from_service_account_json(credencial)

# Construa sua consulta
query = """ 
SELECT * FROM `teste-big-query-425313.vendas.Clientes` 

"""
# Execute a consulta
resultado = client.query(query)


for row in resultado:
    print(row)

In [4]:
#Obtendo os Dados em um DataFrame para melhor visualização

# Especifique o caminho para o arquivo JSON de credenciais
credencial = r"C:\Users\10\Downloads\teste-big-query-425313-282b8bc713a3.json"

# Crie um cliente BigQuery usando as credenciais
client = bigquery.Client.from_service_account_json(credencial)

# Construa sua consulta
query = """ 
SELECT 
      id, 
      first_name, 
      cell_phone 
 FROM `teste-big-query-425313.vendas.Clientes` 

"""
# Execute a consulta
resultado = client.query(query)

# Converta os resultados em um DataFrame
df = resultado.to_dataframe()
df.head(10)

c:\Users\107035\AppData\Local\Programs\Python\Python311\Lib\site-packages\google\cloud\bigquery\table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   id first_name   cell_phone
0  36    Mariana  9 7324-4293
1  73  Cristiano  9 2630-9907
2  84      Carol  9 3760-2211
3  95    Mariana  9 3139-2145
4   0      Marta  9 9102-7834
5  27       Luan  9 2529-8197
6  87    Beatriz  9 2254-6798
7  92    Beatriz  9 4435-2960
8   4    Romário  9 3093-6522
9  21      Diego  9 6686-4094