In [1]:
from google.cloud import bigquery
import pandas as pd
from google.oauth2 import service_account

In [2]:
# Especifique as informa√ßoes de credenciais

#OBSIMP. a chave (teste-big-query-425313-282b8bc713a3.json) foi criada dentro do Big Query e baixado em JASON no pc (Download)

#Abra o arquivo em um bloco de notas, copia e cola as credenciais na variavel

credencial = {
  "type": "service_account",
  "project_id": "teste-big-query-425313",
  "private_key_id": "282b8bc713a33b7c6f0ff2ac09234ab717545b0b",
  "private_key": "-----BEGIN PRIVATE KEY-----
  "client_email": "testeconexao@teste-big-query-425313.iam.gserviceaccount.com",
  "client_id": "118243066557940965019",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/testeconexao%",
  "universe_domain": "googleapis.com"
}


# Crie o cliente BigQuery
client = bigquery.Client(credentials=service_account.Credentials.from_service_account_info(credencial))

In [4]:
# Construa sua consulta
query = """ 

  SELECT 
      id, 
      first_name, 
      cell_phone 
 FROM `teste-big-query-425313.vendas.Clientes` 


"""
# Execute a consulta
resultado = client.query(query)

# Converta os resultados em um DataFrame
df = resultado.to_dataframe()
df.head(5)

c:\Users\107035\AppData\Local\Programs\Python\Python311\Lib\site-packages\google\cloud\bigquery\table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   id first_name   cell_phone
0  36    Mariana  9 7324-4293
1  73  Cristiano  9 2630-9907
2  84      Carol  9 3760-2211
3  95    Mariana  9 3139-2145
4   0      Marta  9 9102-7834